body {
  background-image: url('');
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensures background covers the entire viewport height */
  
}
